streamlit
streamlit-chat
streamlit-extras
openai
langchain
chromadb
pypdf4
tiktoken
faiss-cpu
pdfplumber
google-cloud-storage
python-dotenv
gpt4free
pdf2image
sentence_transformers
poppler-utils
protobuf
